/* Часть Родиона*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }
  
  header {
    display: flex;
    align-items: center;
        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #16283F 20.5%, rgba(22, 40, 63, 0.83) 100%);
      
  }
  .logo {
    width: 65px;
    height: 50px;
    margin-left: 100px;
  }
  .search{
margin-left: 900px;
width: 433px;
height: 40px;
border-radius: 30px;
  }
  /* хуесосы не трогать еле сделал ебаную иконку*/
  .input-container {
    position: relative;
    width: 1325px;
  }
  
  input[class="search"] {
    width: 433px;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border-radius: 13px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  .icon-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color:#0B2447;
  }
  
  .icon-button img {
    width: 100%;
    height: 100%;
  }
  
  .icon-button:focus,
  .icon-button:hover {
    outline: none;
  }
/* хуесосы не трогать еле сделал ебаную иконку*/
.nazvanie{
    color:#fff;
    font-family: 'Montserrat';font-size: 22px;
    padding-left: 30px;
}
.burger{
    width: 40px;
    height: 40px;
    margin-left: 100px;
    cursor:pointer;
}
.bg1{
    background-image: url('1back.jpg');
    width: 100%;
    height: 1081px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(2.5px);
}
.bg1-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#gorod{
    
    font-weight: bolder;
    font-size: 88px;
}  
.logoniz{
    display: flex;
  }
  .logoniz p{
    margin-top: 75px;
  }
  .logoniz img {
    width: 65px;
    height: 50px;
    margin-left: 100px;
  }
  .dostap{
    width: 1900px;
    height: 780px;

  }
  .obozna{
margin-top: 80px;
color:#0B2447;
font-size: 42px;
  }
  .left{
    height: 500px;
    width: 800px;
    margin-top: 30px;
    margin-left: 130px;
    
    
  }
  .right{
    height: 500px;
    width: 800px;
    margin-top: 30px;
    margin-left: 60px;
    
  }
.block{
    display: flex;

}
.text{
    font-size: 20px;
    text-align: justify;
    
}
footer {
  position: absolute;
  width: 1900px;
  height: 270px;
  background: #0B2447;
}

.logoniz{

  display: flex;
}
.logoniz p{
  margin-top: 75px;
}
.logoniz img {
  width: 65px;
  height: 50px;
  margin-left: 100px;
}
.prava{
  margin-left: 100px;
  color: #FFFFFF;}
  #foot {
    margin-top: 60px;}